img {
    display: block;
}

body {
    background: #2b3237;
}
a{
  text-decoration: none;
  &:focus{
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
}

::-webkit-scrollbar-button {
    width: 9px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #22272b;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #343c42;
    border-radius: 5px;
}

::-webkit-resizer {
    background-image: url("");
    width: 9px;
    height: 0;
}

::-webkit-scrollbar {
    width: 9px;
}

a::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
li::-moz-selection,
p::-moz-selection,
span::-moz-selection {
    background: #22272b;
    color: #fff;
}

a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
p::selection,
span::selection {
    background: #22272b;
    color: #fff;
}

.hidden{
    display: none;
}


.video-section {
    // background: #2b3237;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    ul {
        margin: 0;
        padding: 0;
    }
    .title {
        color: #fff8f4;
        font-size: 25px;
        font-weight: 600;
        // line-height: 23px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
.tabs {
    height: 50px;
    background: #30383d;
    display: flex;
    align-items: center;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
}
.tabs-ul {
    display: flex;
    align-items: center;
    height: 100%;
}
.tabs-item {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 40px;
    height: 100%;
    cursor: pointer;
    // border-bottom: 2px solid transparent;
    position: relative;
    &:after {
        content: '';
        border-bottom: 2px solid #6cc6e1;
        width: 100%;
        // height: 100%;
        opacity: 0;
        transition: 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:hover:after {
        opacity: 1;
    }
    &:last-child {
        margin-right: 0;
    }

    a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        &:hover{
          color: #ffffff;
        }
        &:focus{
          color: #ffffff;
        }
    }
}

.item-active {
    &:after {
        content: '';
        border-bottom: 2px solid #6cc6e1;
        width: 100%;
        // height: 100%;
        opacity: 1;
        transition: 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.tabs-dropdown{
    width: 100%;
}
/*Styling Selectbox*/
.dropdown {
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: #30383d;
    // border-radius: 12px;
    transition: all 0.5s ease;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    outline: none;
    user-select: none;
    margin: 40px auto 0px;
    display: none;
}
.dropdown .select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 20px;
}
.dropdown .select > i {
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    float: right;
    line-height: 20px;
}
// .dropdown:hover {
//     box-shadow: 0 0 4px rgb(39, 39, 39);
// }
// .dropdown:active {
//     background-color: #f8f8f8;
// }
// .dropdown.active,
// .dropdown.active:hover {
//     box-shadow: 0 0 4px rgb(204, 204, 204);
//     border-radius: 12px 12px 0 0;
//     background-color: #f8f8f8;
// }
.dropdown.active .select > i {
    transform: rotate(180deg);
}
.dropdown .dropdown-menu {
    z-index: 3;
    position: absolute;
    background-color: #30383d;
    width: 100%;
    left: 0;
    margin-top: 1px;
    // box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    // z-index: 1;
    color: #fff;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    & a{
        color: #fff;
    }
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    background-color: #2b3237;
    & a{
        background: none;
    }
    
}
.dropdown .dropdown-menu li:active {
    background-color: #2b3237;
    & a{
        background: none;
    }
}






// -----------------
.video-block {
    display: flex;
    // grid-template-columns: 2fr 1fr;
    height: 50vh;
    max-height: 450px;
    min-height: 300px;

}
.video-player {
    width: 100%;
}
iframe {
    // position: absolute;
    width: 100%;
    height: 100%;
}
.sidebar {
    font-family: Montserrat;
    background: #22272b;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: inherit;
    min-width: 350px;
    max-width: 350px;
}
.input-search {
    &::placeholder {
        color: #475259;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }
    background-color: #262c30;
    height: 55px;
    outline: none !important;
    border: none !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px !important;
}

.recomended-videos {
    height: 100%;
    // max-height: 100%;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}
.download-btn-mob{
    display: none !important;
}

.rec-video {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 0 10px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    &__img {
        position: relative;
        max-width: 130px;
        img {
            width: 100%;
        }
    }
    &__time {
        position: absolute;
        bottom: 7px;
        right: 7px;
        background-color: #262626;
        opacity: 0.73;
        color: #ffffff;
        font-size: 11px;
        font-weight: 500;
        padding: 3px 7px;
    }

    &-name {
        color: #fff8f4;
        font-size: 13px;
        font-weight: 500;
        line-height: 23px;
        margin-left: 10px;
    }
}



.download-btn{
  border: 2px solid #465159;
  color: #fff8f4;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 25px;
  margin-top: 20px;
  display: table;
  &:hover{
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  &:focus{
    color: #ffffff;
  }
}



@media(max-width:1201px){
    .sidebar {
        min-width: 320px;
        max-width: 320px;
    }
    .recomended-videos{
        width: 93%;
    }
}
@media(max-width:992px){
    .video-section{
        .container{
            width: 100%;
            max-width: 100% !important;
            padding-right: 15px !important;
            padding-left: 15px !important;
            margin: 0;
        }
    }
    .tabs{
        background: #2b3237;
        height: auto;
    }
    .tabs-ul{
        display: none;
    }
    .dropdown{
        display: inline-block;
    }
    .video-block{
        flex-direction: column;
        height: auto;
        max-height: none;
        min-height: auto;
    }
    iframe{
        height: auto;
        min-height: 300px;
        margin-left: -15px;
        margin-right: -15px;
        width: -webkit-fill-available;
        width: calc(100% + 30px);
        max-width: none;
    }
    .download-btn{
        display: none;
    }
    .download-btn-mob{
        display: table !important;
        width: max-content;
        margin: 20px 0;
    }
    .sidebar {
        min-width: 100%;
        max-width: 100%;
    }
    .recomended-videos{
        width: 93%;
        max-height: 300px;
    }
}



@media(max-width: 576px){
    .video-section .title{
        font-size: 18px;
    }
}
