.download-btn-mobile a {
  border: 2px solid #465159;
  color: #fff8f4;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: table;
}
.download-btn-mobile {
  display: none;
  background-color: #30383d;
}


img {
  display: block; }

body {
  background: #2b3237; }

a {
  text-decoration: none; }
  a:focus {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

::-webkit-scrollbar-button {
  width: 9px;
  height: 0; }

::-webkit-scrollbar-track {
  background: #22272b;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #343c42;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

::-webkit-resizer {
  background-image: url("");
  width: 9px;
  height: 0; }

::-webkit-scrollbar {
  width: 9px; }

a::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
li::-moz-selection,
p::-moz-selection,
span::-moz-selection {
  background: #22272b;
  color: #fff; }

a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
p::selection,
span::selection {
  background: #22272b;
  color: #fff; }

.hidden {
  display: none; }

.video-section {
  margin: 0;
  padding: 0;
  font-family: Montserrat; }
  .video-section ul {
    margin: 0;
    padding: 0; }
  .video-section .title {
    color: #fff8f4;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px; }

.tabs {
  height: 50px;
  background: #30383d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .tabs .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.tabs-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.tabs-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: 40px;
  height: 100%;
  cursor: pointer;
  position: relative; }
  .tabs-item:after {
    content: '';
    border-bottom: 2px solid #6cc6e1;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    left: 0; }
  .tabs-item:hover:after {
    opacity: 1; }
  .tabs-item:last-child {
    margin-right: 0; }
  .tabs-item a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .tabs-item a:hover {
      color: #ffffff; }
    .tabs-item a:focus {
      color: #ffffff; }

.item-active:after {
  content: '';
  border-bottom: 2px solid #6cc6e1;
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0; }

.tabs-dropdown {
  width: 100%; }

/*Styling Selectbox*/
.dropdown {
  width: 100%;
  height: 50px;
  display: inline-block;
  background-color: #30383d;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 40px auto 0px;
  display: none; }

.dropdown .select {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 20px; }

.dropdown .select > i {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px; }

.dropdown.active .select > i {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.dropdown .dropdown-menu {
  z-index: 3;
  position: absolute;
  background-color: #30383d;
  width: 100%;
  left: 0;
  margin-top: 1px;
  -webkit-border-radius: 0 0 12px 12px;
          border-radius: 0 0 12px 12px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  color: #fff; }

.dropdown .dropdown-menu li {
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .dropdown .dropdown-menu li a {
    color: #fff; }

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none; }

.dropdown .dropdown-menu li:hover {
  background-color: #2b3237; }
  .dropdown .dropdown-menu li:hover a {
    background: none; }

.dropdown .dropdown-menu li:active {
  background-color: #2b3237; }
  .dropdown .dropdown-menu li:active a {
    background: none; }

.video-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  max-height: 450px;
  min-height: 300px; }

.video-player {
  width: 100%; }

iframe {
  width: 100%;
  height: 100%; }

.sidebar {
  font-family: Montserrat;
  background: #22272b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 350px;
  max-width: 350px; }

.input-search {
  background-color: #262c30;
  height: 55px;
  outline: none !important;
  border: none !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px !important; }
  .input-search::-webkit-input-placeholder {
    color: #475259;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px; }
  .input-search::-moz-placeholder {
    color: #475259;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px; }
  .input-search:-ms-input-placeholder {
    color: #475259;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px; }
  .input-search::-ms-input-placeholder {
    color: #475259;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px; }
  .input-search::placeholder {
    color: #475259;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px; }

.recomended-videos {
  height: 100%;
  width: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px; }

.download-btn-mob {
  display: none !important; }

.rec-video {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 0 10px;
  margin-bottom: 10px; }
  .rec-video:last-child {
    margin-bottom: 0; }
  .rec-video__img {
    position: relative;
    max-width: 130px; }
    .rec-video__img img {
      width: 100%; }
  .rec-video__time {
    position: absolute;
    bottom: 7px;
    right: 7px;
    background-color: #262626;
    opacity: 0.73;
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    padding: 3px 7px; }
  .rec-video-name {
    color: #fff8f4;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    margin-left: 10px; }

.download-btn {
  border: 2px solid #465159;
  color: #fff8f4;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 25px;
  margin-top: 20px;
  display: table; }
  .download-btn:hover {
    color: #ffffff;
    border: 2px solid #ffffff; }
  .download-btn:focus {
    color: #ffffff; }

@media (max-width: 1201px) {
  .sidebar {
    min-width: 320px;
    max-width: 320px; }
  .recomended-videos {
    width: 93%; } }

@media (max-width: 992px) {
  .download-btn-mobile {
    display: block;
  }
  .video-section .container {
    width: 100%;
    max-width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin: 0; }
  .tabs {
    background: #2b3237;
    height: auto; }
  .tabs-ul {
    display: none; }
  .dropdown {
    display: inline-block; }
  .video-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    max-height: none;
    min-height: auto; }
  iframe {
    height: auto;
    min-height: 300px;
    margin-left: -15px;
    margin-right: -15px;
    width: -webkit-fill-available;
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    max-width: none; }
  .download-btn {
    display: none; }
  .download-btn-mob {
    display: table !important;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 20px 0; }
  .sidebar {
        width: calc(100% + 30px);
    max-width: none;
    margin-left: -15px;
    /*min-width: 100%;
    max-width: 100%;*/ }
  .recomended-videos {
    width: 93%;
    max-height: 300px; } }

@media (max-width: 576px) {
  .video-section .title {
    font-size: 18px; } }
